* {
    box-sizing: border-box;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace !important;
}

body {
    display: flex;
}

#start {
    font-weight: bold;
    font-size: 1.5em;
}

.arrow {
    text-align: center;
    font-size: 2em;
    margin: 5%;
    padding: 0%;
}

#grid_size {
    margin: 5%;
    padding: 0%;
}

#in_game_menu {
    margin: 5%;
}

#grid_select {
    display: -webkit-flex;
    /* Safari */
    -webkit-align-items: center;
    /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

#all_menus {
    display: inline-block;
    vertical-align: top;
}

#menu {
    width: 25%;
    padding: 40px;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
}

#game {
    flex: 1;
    margin: auto;
    display: inline-block;
}

#header {
    font-weight: 500;
    font-size: 3.5em;
}

#picross {
    border-spacing: 0px;
    border-collapse: separate;
    margin: 30px auto;
}

#picross td {
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
    font: 200 60px Lucida Console, monospace;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rows {
    text-align: right;
    background-blend-mode: color;
    background-color: black;
    color: whitesmoke;
}

.columns {
    background-color: black;
    color: whitesmoke;
}

#picross tr:first-child td {
    /* First row all columns */
    border-top: none;
}

#picross tr:last-child td {
    /* Last row all columns */
    border-bottom: none;
}

#picross tr td:first-child {
    /* First column of every row */
    border-left: none;
}

#picross tr td:last-child {
    /* Last column of every row */
    border-right: none;
}

@media all and (orientation:portrait) {
    body {
        display: block;
    }
    #header {
        font-size: 2em;
        text-align: center;
    }
    #menu {
        width: 100%;
        display: block;
        padding-bottom: 10px;
    }
    #game {
        width: 100%;
        display: block;
        margin-bottom: 100px;
    }
    #picross td {
        font: 200 30px Lucida Console, monospace;
        height: 50px;
        width: 50px;
    }
}